# Ambiente di Produzione Roxanne su IONOS (MySQL / MariaDB)
PORT=3005
NODE_ENV=production

# Stringa di connessione MySQL / MariaDB su IONOS
DATABASE_URL="mysql://roxanne_admin:PasswordSicuraRoxanne2026!@localhost:3306/roxanne_l68_db"
